@buc:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:_password=QUtDcDVla21xWmdzYlhoTXdRSkZhQzJxcjZKWHhSQmhXYzU2aW9TM01BdE0yejVnTFE5VVFXRkh3VVlYZVp5UWg5ZG1haTNWRg==
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:username=pakosal1@in.ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:email=pakosal1@in.ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:always-auth=true
@cui:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:_password=QUtDcDVla21xWmdzYlhoTXdRSkZhQzJxcjZKWHhSQmhXYzU2aW9TM01BdE0yejVnTFE5VVFXRkh3VVlYZVp5UWg5ZG1haTNWRg==
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:username=pakosal1@in.ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:email=pakosal1@in.ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:always-auth=true