@buc:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:_password=${ARTIFACTORY_API_KEY}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:username=${ARTIFACTORY_USERNAME}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:email=${ARTIFACTORY_EMAIL}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-buc-team-npm-local/:always-auth=true
@cui:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:_password=${ARTIFACTORY_API_KEY}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:username=${ARTIFACTORY_USERNAME}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:email=${ARTIFACTORY_EMAIL}
//na.artifactory.swg-devops.com/artifactory/api/npm/wce-wscui-shell-npm-local/:always-auth=true
