<div class="bx--row">
  <div class="bx--col">
  <h2><span>{{'SUPPLIERUPLOAD.TITLE_UPLOAD_INV' | translate}}</span></h2>
  </div>
</div>
<div class="bx--grid bx--no-gutter">
  <div class="bx--row d--ai--center d--jc--space-between">
    <div class="bx--col-md-3 bx--col-lg-6 d--jc--flex-start padding--top-down-1rem">
      <p class="bx--data-table-header__description">{{ 'SUPPLIERUPLOAD.LABEL_instructions' | translate }}</p>
      <buc-tooltip [placement]="'bottom'" [tooltipMsg]="'SUPPLIERUPLOAD.LABEL_tooltip' | translate" [showCloseButton]="false"></buc-tooltip>
    </div>
    <div class="bx--col d--jc--flex-end">
      <label [attr.tid]="'sku-upload'">
        <input type="file" class="input--file" id="csvUpload" (change)="onUpload($event)" (click)="u.value=null" accept=".csv" #u>
        <span class="bx--btn bx--btn--primary bx--btn--sm">
          {{ 'SUPPLIERUPLOAD.LABEL_upload' | translate }}
          <ibm-icon-upload16 class="bx--btn__icon"></ibm-icon-upload16>
        </span>
      </label>
    </div>
  </div>
  <div class="bx--row d--flex-1">
    <div class="bx--col">
      <buc-table
        [class.no-data]="model.totalDataLength===0"
        [tableHeaderModel]="headerModel"
        [model]="model"
        [showSelectionColumn]="false"
        [skeleton]="model.isLoading"
        [size]="'sm'"
        (selectPage)="onSelectPage($event)">
      <tbody>
        <tr>
          <td class="no-data" colspan="5">
            <buc-empty-state [stateMessage]="'SUPPLIERUPLOAD.LABEL_noData' | translate"></buc-empty-state>
          </td>
        </tr>
      </tbody>
    </buc-table>
  </div>
</div>