@import "~@carbon/layout/scss/layout";

:host {
  height: 100%;

  .app-region-header {
    padding: 0px 15px;
  }

  .app-region-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: $layout-01;
    div {
      height: 100%;
    }
  }
}
