<div class="bx--grid bx--no-gutter">
  <div class="bx--row">
    <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
      [label]="'HOMEPAGE1.LABEL_CATEGORY' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
      placeholder="" (selected)="onCategory($event)" [items]="categoryListValues">
    </buc-dropdown>

    <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
      [label]="'HOMEPAGE1.LABEL_PRODUCT' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
      placeholder="" (selected)="onProduct($event)"  [items]="productListValues">
    </buc-dropdown>
  </div>

  <div class="bx--row d--flex-1 d--flex-fd-column">
    <div class="bx--col">
      <buc-table
      [class.no-data]="model.totalDataLength===0"
      [model]='model'
      [skeleton]="!isScreenInitialized || model.isLoading"
      [hasSearch]=false
      [size]="'sm'"
      (selectPage)="onSelectPage($event)"
      (sort)="onSort($event)"
      [showSelectionColumn]="false">
        <tbody>
          <tr>
            <td class="no-data" colspan="3">
              <div>
                <buc-empty-state stateMessage="{{ 'common.LABEL_noData' | translate }}"></buc-empty-state>
              </div>
            </td>
          </tr>
        </tbody>
      </buc-table>
    </div>
  </div>
</div>

<!-- template for supplier column in item-list table -->
<ng-template #supplierLink let-data="data">
  <a (click)="onSupplier(data.descriptor)" [innerHTML]="data.name"></a>
</ng-template>

<!-- template for product column in product-modal table -->
<ng-template #supplierLocationLink let-data="data">
  <a (click)="onLocation(data.sku, data.supplier)" [innerHTML]="'common.LABEL_skuDisplay' | translate: { sku: data.sku }"></a>
</ng-template>

<!-- template for contact-card -->
<ng-template #contactCard let-data="data">
  <div class="bx--row">
    <div class="bx--col padding-left-right--0 font-weight--600 padding-bottom--0_5rem product-name">
      <a target="_blank" [attr.routerLink]="data.url || null">{{ data.description }}</a>
    </div>
  </div>

  <div class="bx--row d--flex-jc-space-evenly">
    <div class="bx--col padding-left--0 padding-right--0_5rem font-weight--600 max-width--8rem">
      {{ 'common.LABEL_contactPerson' | translate }}
    </div>
    <div class="bx--col padding-left-right--0">
      {{ data.contactPerson }}
    </div>
  </div>

  <div class="bx--row d--flex-jc-space-evenly padding-bottom--1rem">
    <div class="bx--col padding-left--0 padding-right--0_5rem font-weight--600 max-width--8rem">
      {{ 'common.LABEL_contactNumber' | translate }}
    </div>
    <div class="bx--col padding-left-right--0">
      {{ data.phoneNumber }}
    </div>
  </div>
</ng-template>

<!-- template for product-modal -->
<ng-template #supplierTpl let-data="data">
  <div class="bx--grid d--flex bx--no-gutter padding-top--1rem info-modal-grid min-height--30rem">
    <ng-container [ngTemplateOutlet]="contactCard" [ngTemplateOutletContext]="{ data: data.supplier }"></ng-container>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col d--flex-ai-center padding-left-right--0 d--flex-1 product-name">
          {{ data.product.description }}
      </div>
      <div class="bx--col d--flex-ai-center padding-left-right--0 d--flex-0_4 d--flex-jc-flex-end">
        <div>
          <div class="d--flex-jc-flex-end product-quant">
            {{ data.quantity }}
          </div>
          <div class="margin-bottom--0" [innerHTML]="'common.LABEL_availableDisplay' | translate: { date: data.date }"></div>
        </div>
      </div>
    </div>

    <div class="bx--row d--flex-1 d--flex-jc-space-evenly padding-top--1rem">
      <div class="bx--col padding-left-right--0">
        <buc-table
          [class.no-data]="data.model.totalDataLength===0"
          [model]="data.model"
          [size]="'sm'"
          (selectPage)="data.onSelectPage($event)"
          (sort)="data.onSort($event)"
          [showSelectionColumn]="false">
            <tbody>
              <tr>
                <td class="no-data" colspan="3">
                  <buc-empty-state stateMessage="{{ 'common.LABEL_noData' | translate }}"></buc-empty-state>
                </td>
              </tr>
            </tbody>
        </buc-table>
      </div>
    </div>
  </div>
</ng-template>

<!-- template for location-modal -->
<ng-template #locationTpl let-data="data">
  <div class="bx--grid d--flex bx--no-gutter padding-top--1rem info-modal-grid min-height--30rem">
    <ng-container [ngTemplateOutlet]="contactCard" [ngTemplateOutletContext]="{ data: data.supplier }"></ng-container>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col d--flex-ai-center d--flex-jc-space-evenly padding-left-right--0 max-width--8rem d--flex-0_4">
        <ibm-icon-image32></ibm-icon-image32>
        <!-- <img class="object-fit--contain max-height--10rem max--width-8rem" src="unknown.npg"> -->
      </div>

      <div class="bx--col d--flex-ai-center padding-left-right--0 d--flex-1">
        <div>
          <div class="product-name">
            {{ 'common.LABEL_mfrProductDisplay' | translate: { product: data.sku.parentData.product, supplier: data.supplier } }}
          </div>
          <div class="bx--row">
            <div class="bx--col padding-left--0 padding-right--0_5rem font-weight--600 max-width--8rem">
              {{ 'common.LABEL_uom' | translate }}
            </div>
            <div class="bx--col padding-left-right--0">
              {{ data.sku.unitOfMeasure }}
            </div>
          </div>
          <div class="bx--row">
            <div class="bx--col padding-left--0 padding-right--0_5rem font-weight--600 max-width--8rem">
              {{ 'common.LABEL_sku' | translate }}
            </div>
            <div class="bx--col padding-left-right--0">
              {{ data.sku.itemId }}
            </div>
          </div>
        </div>
      </div>

      <div class="bx--col d--flex-ai-center padding-left-right--0 d--flex-0_4 d--flex-jc-flex-end">
        <div>
          <div class="d--flex-jc-flex-end product-quant">
            {{ data.sku.availableQuantity }}
          </div>
          <div class="margin-bottom--0" [innerHTML]="'common.LABEL_availableDisplay' | translate: { date: data.sku.parentData.date }"></div>
        </div>
      </div>
    </div>

    <div class="bx--row d--flex-1 d--flex-jc-space-evenly padding-top--1rem">
      <div class="bx--col padding-left-right--0">
        <buc-table
          [class.no-data]="data.model.totalDataLength===0"
          [model]="data.model"
          [size]="'sm'"
          (selectPage)="data.onSelectPage($event)"
          [showSelectionColumn]="false">
            <tbody>
              <tr>
                <td class="no-data" colspan="2">
                  <buc-empty-state stateMessage="{{ 'common.LABEL_noData' | translate }}"></buc-empty-state>
                </td>
              </tr>
            </tbody>
        </buc-table>
      </div>
    </div>
  </div>
</ng-template>
