<div class="pt-32"></div>

<div class="bx--row">
  <div class="bx--col">
    <div class="bx--row">


      <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
        [label]="'HOMEPAGE1.LABEL_CATEGORY' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
        placeholder="" [disabled]="false" (selected)="fetchAllProductsByCategoryId($event)" [items]="categoryListValues">
      </buc-dropdown>

      <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
        [label]="'HOMEPAGE1.LABEL_PRODUCT' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
        [invalid]="!isDGSelected && errorMessage != ''" [invalidText]="errorMessage"
        placeholder="" [disabled]="false"  (selected)="fetchAllSuppliersByProductId($event)"  [items]="productListValues">
      </buc-dropdown>
    </div>
    <div class="bx--row">
      <div class="bx--col">
        <buc-table [class.no-data]="model.totalDataLength===0 && !isScreenInitialized"
        [model]='model' [(selectedItems)]="selected" [hasSearch]=false [size]="'sm'" [tableToolbarModel]="tableToolbarModel" _batchText="items selected"
            (selectPage)="onSelectPage($event)" (selectedItemsChange)="onSelectedItems($event)" (sort)="onSort($event)" 
            (click)="OpenSupplierRecordOverlay(model.data.map,$event)" (rowsSelectedChange)="selectRows($event)"
                class="bx--data-table bx--data-table--short bx--data-table--no-border" [showSelectionColumn]=false [searchValue]="searchValue">  
                <tbody>
                  <tr>
                    <td class="no-data" colspan="3">
                      <!--<div>
                        <buc-empty-state stateMessage="{{'HOMEPAGE1.LABEL_SELECT_DG' | translate}}"></buc-empty-state>
                      </div>-->
                    </td>
                  </tr>
                </tbody>
        </buc-table>
      </div>
    </div> 
     
  </div>
</div>




<!-- customization -->
<div class="bx--grid" *ngIf="displayFirstOverlay" >
  <ibm-modal (overlaySelected)="back()" [attr.tid]="componentId + '-modal'">
    <ibm-modal-header (closeSelect)="back()" [attr.tid]="componentId + '-modal-header'">
    
      <!-- <div class="bx--row">
        <div class="bx--col"><h2><span>{{'Supplier Record Details' | translate}}</span></h2></div>
      </div> -->

      <div class="bx--row">
        <div class="bx--col-lg-16">
        <nav>
          <ul >
              <li style="font-size: large;">
                &nbsp;  &nbsp;  <a [routerLink]="'/home/homepage1'" >{{selectedSupplier.description}} </a>
              </li>
          </ul>
          </nav>
        </div>             
      </div>
      <div class="bx--row">
        <div class="bx--col-lg-8">
            <p class="bx--label">{{'Contact Person : ' | translate}} {{selectedSupplier.supplierName}}</p>
        </div>
      </div>
      <div class="bx--row">
          <div class="bx--col-lg-8">
              <p class="bx--label">{{selectedSupplier.supplierContactNumber}}</p> 
          </div>
      </div>

    </ibm-modal-header>
    
    <section class="bx--modal-content" [attr.tid]="componentId + '-modal-content'">
      <div class="bx--grid bx--no-gutter">            
        
            <div class="bx--row">
              <div class="bx--col" style="font-weight: bold; font-size: x-large;">
                {{selectedSupplier.selectedProductIdModelNumber}}  
              </div>
              <div class="bx--col"  style="font-weight: bold; font-size: x-large;">
                {{selectedSupplier.productTotalAvailableQuantity}}  
              </div>
            </div>
            <div class="bx--row">
              <div class="bx--col">
                &nbsp;
              </div>
              <div class="bx--col">
                {{'Available : ' | translate}}  {{selectedSupplier.productTotalAvailableDate}}  
              </div>
            </div>
        </div>
        <br>
</section>

  <div class="bx--col">
    <buc-table [class.no-data]="model.totalDataLength===0 && !isScreenInitialized" style="border: mediumblue;"
     [model]='modelFirstOverylay' [(selectedItems)]="selected" [size]="'sm'" [tableToolbarModel]="tableToolbarModel" _batchText="items selected"
            (selectPage)="onSelectPage($event)" (selectedItemsChange)="onSelectedItems($event)" (sort)="onSort($event)"  
            (click)=OpenSupplierLocationOverlay(model,$event)
            (rowsSelectedChange)="selectRows($event)"
            class="bx--data-table bx--data-table--short bx--data-table--no-border" [showSelectionColumn]="false" [searchValue]="searchValue">

            <tbody>
              <tr>
                <td class="no-data" colspan="3">
                  <!--<div>
                    <buc-empty-state stateMessage="{{'HOMEPAGE1.LABEL_SELECT_DG' | translate}}"></buc-empty-state>
                  </div>-->
                </td>
              </tr>
            </tbody>
    </buc-table>
  </div>
<br>
<ibm-modal-footer>
  
  <button class="bx--btn bx--btn--primary  bx--btn--sm" 
  [attr.tid]="componentId + '-cancel-btn'"
  modal-primary-focus (click)="back()">
      {{'Back'}}
  </button>

</ibm-modal-footer>
</ibm-modal>
</div>

<!-- 2nd table -->
<div class="bx--grid" *ngIf="displaySecondOverlay">
  <ibm-modal (overlaySelected)="backSupplierLocation()" [attr.tid]="componentId + '-modal'">
    <ibm-modal-header (closeSelect)="backSupplierLocation()" [attr.tid]="componentId + '-modal-header'">
      <!-- {{'Supplier location record' | translate}} -->
      <div class="bx--row">
        <div class="bx--col-lg-16">
        <nav>
          <ul >
              <li style="font-size: large;">
                &nbsp;  &nbsp;  <a [routerLink]="'/home/homepage1'" >{{selectedSupplier.description}} </a>
              </li>
          </ul>
          </nav>
        </div>             
      </div>
      <div class="bx--row">
        <div class="bx--col-lg-8">
            <p class="bx--label">{{'Contact Person : ' | translate}} {{selectedSupplier.supplierName}}</p>
        </div>
      </div>
      <div class="bx--row">
          <div class="bx--col-lg-8">
              <p class="bx--label">{{selectedSupplier.supplierContactNumber}}</p>
          </div>
      </div>  
    </ibm-modal-header>

    <section class="bx--modal-content" [attr.tid]="componentId + '-modal-content'">
      <div class="bx--grid bx--no-gutter">            
             

        <div class="bx--row">
              <div class="bx--col" style="font-weight: bold; font-size: x-large;">
                  {{selectedSupplier.supplier_id}}{{' '}}{{selectedSupplier.selectedProductId}}
              </div>
              <div class="bx--col"  style="font-weight: bold; font-size: x-large;">
                {{selectedSupplier.itemTotalAvailableQuantity}}  
              </div>
            </div>
            <div class="bx--row">
              <div class="bx--col">
                &nbsp;
              </div>
              <div class="bx--col">
                {{'Available : ' | translate}}  {{selectedSupplier.productTotalAvailableDate}}  
              </div>
            </div>

              <div class="bx--row">
              <div class="bx--col">
              {{'Unit of Measure : ' | translate}} {{selectedSupplier.itemUOM}}  
              </div>
              </div>            
                <div class="bx--row">
                <div class="bx--col">
                  {{'Model No : ' | translate}} {{selectedSupplier.selectedItemId}}  
                </div>
                </div>              
                <div class="bx--row">
                <div class="bx--col">
                  {{'Additional Info :' | translate}}{{'Not Provided'| translate}}  
                </div>
                </div>              
      </div>
    </section>
    
    <div class="bx--row" >
      <div class="bx--col">
        <buc-table [class.no-data]="model.totalDataLength===0 && !isScreenInitialized"
         [model]='modelSecondOverylay' [(selectedItems)]="selected" [size]="'sm'" [tableToolbarModel]="tableToolbarModel" _batchText="items selected"
                (selectPage)="onSelectPage($event)" (selectedItemsChange)="onSelectedItems($event)" (sort)="onSort($event)"
                
                (rowsSelectedChange)="selectRows($event)"
                class="bx--data-table bx--data-table--short bx--data-table--no-border" [showSelectionColumn]="false" [searchValue]="searchValue">

                <tbody>
                  <tr>
                    <td class="no-data" colspan="3">
                      <!--<div>
                        <buc-empty-state stateMessage="{{'HOMEPAGE1.LABEL_SELECT_DG' | translate}}"></buc-empty-state>
                      </div>-->
                    </td>
                  </tr>
                </tbody>
        </buc-table>
      </div>
    </div>  

<ibm-modal-footer>
  <button class="bx--btn bx--btn--primary" 
  [attr.tid]="componentId + '-cancel-btn'"
  modal-primary-focus (click)="backSupplierLocation()">
      {{'Back'}}
  </button>

</ibm-modal-footer>
</ibm-modal>
</div>

<!-- end -->

<ibm-placeholder></ibm-placeholder>