<div class="bx--grid bx--no-gutter">
  <div class="bx--row">
    <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
      [label]="'HOMEPAGE1.LABEL_CATEGORY' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
      placeholder="" (selected)="onCategory($event)" [items]="categoryListValues">
    </buc-dropdown>

    <buc-dropdown class="bx--col-md-4 bx--col-sm-6"
      [label]="'HOMEPAGE1.LABEL_PRODUCT' | translate" [theme]="'dark'" [disabled]="!isScreenInitialized"
      [invalid]="!isDGSelected && errorMessage != ''" [invalidText]="errorMessage"
      placeholder="" (selected)="onProduct($event)"  [items]="productListValues">
    </buc-dropdown>
  </div>

  <div class="bx--row d--flex-1 d--flex-fd-column">
    <div class="bx--col">
      <buc-table
      [class.no-data]="model.totalDataLength===0"
      [model]='model'
      [skeleton]="!isScreenInitialized || model.isLoading"
      [(selectedItems)]="selected"
      [hasSearch]=false
      [size]="'sm'"
      (selectPage)="onSelectPage($event)"
      (sort)="onSort($event)"
      [showSelectionColumn]="false"
      [searchValue]="searchValue">
        <tbody>
          <tr>
            <td class="no-data" colspan="3">
              <div>
                <buc-empty-state stateMessage="{{'common.LABEL_noData' | translate}}"></buc-empty-state>
              </div>
            </td>
          </tr>
        </tbody>
      </buc-table>
    </div>
  </div>
</div>

<ng-template #supplierLink let-data="data">
  <a (click)="onSupplier(data.descriptor)" [innerHTML]="data.name"></a>
</ng-template>

<ng-template #supplierTpl let-data="data">
  <div class="bx--grid d--flex bx--no-gutter info-modal-grid min-height--30rem">
    <div class="bx--row padding-bottom--1rem">
      <div class="bx--col padding-left-right--0 font-weight--600">
        {{ data.description }}
      </div>
    </div>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_contactPerson' | translate }}
        </div>
        <div>
          {{ data.name }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_contactNumber' | translate }}
        </div>
        <div>
          {{ data.contactNumber }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
      </div>
    </div>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_modelNumber' | translate }}
        </div>
        <div>
          {{ data.product.description }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_availQuant' | translate }}
        </div>
        <div>
          {{ data.quantity }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_availDate' | translate }}
        </div>
        <div>
          {{ data.date }}
        </div>
      </div>
    </div>

    <div class="bx--row d--flex-1 d--flex-jc-space-evenly padding-top--1rem">
      <div class="bx--col padding-left-right--0">
        <buc-table
          [class.no-data]="data.model.totalDataLength===0"
          [model]="data.model"
          [size]="'sm'"
          (selectPage)="data.onSelectPage($event)"
          (sort)="data.onSort($event)"
          [showSelectionColumn]="false">
            <tbody>
              <tr>
                <td class="no-data" colspan="3">
                  <!--<div>
                    <buc-empty-state stateMessage="{{'HOMEPAGE1.LABEL_SELECT_DG' | translate}}"></buc-empty-state>
                  </div>-->
                </td>
              </tr>
            </tbody>
        </buc-table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #supplierLocationLink let-data="data">
  <a (click)="onLocation(data.sku, data.supplier)" [innerHTML]="'common.LABEL_skuDisplay' | translate: { sku: data.sku }"></a>
</ng-template>

<ng-template #locationTpl let-data="data">
  <div class="bx--grid d--flex bx--no-gutter info-modal-grid min-height--30rem">
    <div class="bx--row padding-bottom--1rem">
      <div class="bx--col padding-left-right--0 font-weight--600">
        {{ data.supplier.description }}
      </div>
    </div>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_contactPerson' | translate }}
        </div>
        <div>
          {{ data.supplier.contactPerson }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_contactNumber' | translate }}
        </div>
        <div>
          {{ data.supplier.phoneNumber }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
      </div>
    </div>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_mfrProduct' | translate }}
        </div>
        <div>
          {{ 'common.LABEL_mfrProductDisplay' | translate: { product: data.sku.parentData.product, supplier: data.supplier } }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_availQuant' | translate }}
        </div>
        <div>
          {{ data.sku.parentData.quantity }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_availDate' | translate }}
        </div>
        <div>
          {{ data.sku.parentData.date }}
        </div>
      </div>
    </div>

    <div class="bx--row d--flex-jc-space-evenly padding-bottom--0_5rem">
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_sku' | translate }}
        </div>
        <div>
          {{ data.sku.itemId }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_uom' | translate }}
        </div>
        <div>
          {{ data.sku.unitOfMeasure }}
        </div>
      </div>
      <div class="bx--col padding-left-right--0">
        <div class="bx--label margin-bottom--0">
          {{ 'common.LABEL_skuQuantity' | translate }}
        </div>
        <div>
          {{ data.sku.availableQuantity }}
        </div>
      </div>
    </div>

    <div class="bx--row d--flex-1 d--flex-jc-space-evenly padding-top--1rem">
      <div class="bx--col padding-left-right--0">
        <buc-table
          [class.no-data]="data.model.totalDataLength===0"
          [model]="data.model"
          [size]="'sm'"
          (selectPage)="data.onSelectPage($event)"
          (sort)="data.onSort($event)"
          [showSelectionColumn]="false">
            <tbody>
              <tr>
                <td class="no-data" colspan="3">
                  <!--<div>
                    <buc-empty-state stateMessage="{{'HOMEPAGE1.LABEL_SELECT_DG' | translate}}"></buc-empty-state>
                  </div>-->
                </td>
              </tr>
            </tbody>
        </buc-table>
      </div>
    </div>
  </div>
</ng-template>
