/* You can add global styles to this file, and also import other style files */
@import "carbon-components/scss/globals/scss/styles.scss";
@import "@carbon/colors/scss/colors.scss";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();
html {
  height: 100%;

  body {
    height: 100%;
    background-color: $ui-background;

    a:hover {
      cursor: pointer;
    }
  }
}

.page-component {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Override height of the ibm-dropdown-list menu*/
ul.bx--list-box__menu.bx--multi-select {
  max-height: 25rem;
}

/* Paddings */
.p-20 {
  padding: 20px;
}
.p-16 {
  padding: $spacing-05;
}
.pt-16 {
  padding: $spacing-05 0 0 0;
}
.px-16 {
  padding: 0 $spacing-05;
}
.pl-16 {
  padding: 0 0 0 $spacing-05;
}
.pt-32 {
  padding-top: $spacing-07;
}
.pl-32 {
  padding-left: $spacing-07;
}
.p-8 {
  padding: $spacing-03;
}
.pl-8 {
  padding: 0 0 0 $spacing-03;
}
.pr-8 {
  padding: 0 $spacing-03 0 0;
}
.pb-8 {
  padding: 0 0 $spacing-03 0;
}
.p-0 {
  padding: 0;
}
.pr-0 {
  padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-10 {
  padding: 0px 10px 0px 10px;
}
.pt-24 {
  padding-top: $spacing-06;
}
.pb-24 {
  padding-bottom: $spacing-06;
}
.py-24 {
  padding: $spacing-06 0;
}
.py-16-24{
  padding-top: $spacing-05;
  padding-bottom: $spacing-06;
}

/* Margins */
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.m-16 {
  margin: $layout-01;
}
.mx-16 {
  margin: 0 $layout-01;
}
.mr-16 {
  margin: 0 $layout-01 0 0;
}
.mt-16 {
  margin: $layout-01 0 0 0;
}
.mt-10{
  margin-top: 10px;
}
.mt-2{
  margin-top: 2px;
}
.ml-16 {
  margin: 0 0 0 $layout-01;
}
.my-16 {
  margin: $layout-01 0;
}

/* Backgrounds */
.bg-color {
  background-color: $ui-background;
}

.bg-white {
  background-color: $ui-01;
}

.bg-ltgray {
  background-color: $ui-02;
}

/* Structural styles */
.buc-fill-height {
  height: calc(100% - 16px);
  flex: 1;
}

.buc-d-flex {
  display: flex;
}

.buc-justify-content-between {
  display: flex;
  justify-content: space-between;
}

/* Positioning */
.align-right {
  display: flex;
  justify-content: right;
}

.bx--grid.d--flex.bx--no-gutter {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  height: 100%;
  min-width: 25rem;
  width: 100%;
}

.bx--grid.d--flex.bx--no-gutter.info-modal-grid {
  .bx--row {
    margin-right: 0;
    margin-left: 0;
  }
  .bx--row.margin-left--1rem {
    margin-left: 1rem;
  }
}


.no-data {
  table {
    height: 100%;
    td {
      vertical-align: middle;
    }
  }
}

.modal-header-class {
  font-size: 1.5rem;
  font-weight: 600;
}

.sku-name {
  font-size: calc(100% + 0.8vw);
  font-weight: 600;
  line-height: 1;
}

.product-name {
  font-size: calc(100% + 1.3vw);
  font-weight: 600;
  line-height: 1;
}

.product-quant {
  font-size: 2rem;
  font-weight: 600;
}

// descriptive classes

.font-weight--600 {
  font-weight: 600;
}


.min-height--30rem {
  min-height: 30rem;
}


.max-height--10rem {
  max-height: 10rem;
}


.max-width--8rem {
  max-width: 8rem;
}

.width--100p {
  width: 100%;
}


img.object-fit--contain {
  object-fit: contain;
  max-width: 8rem;
  max-height: 10rem;
}

.padding-bottom--0_5rem {
  padding-bottom: 0.5rem;
}

.padding-bottom--1rem {
  padding-bottom: 1rem;
}

.padding-top--1rem {
  padding-top: 1rem;
}

.padding-left-right--0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-left--0 {
  padding-left: 0;
}

.padding-right--0 {
  padding-right: 0;
}

.padding-left--0_5rem {
  padding-left: 0.5rem;
}

.padding-right--0_5rem {
  padding-right: 0.5rem;
}


.margin-bottom--0 {
  margin-bottom: 0;
}

.d--flex {
  display: flex;
}

.d--flex-1 {
  display: flex;
  flex: 1;
}

.d--flex-0_4 {
  display: flex;
  flex: 0.4;
}

.d--flex-0_6 {
  display: flex;
  flex: 0.6;
}

.d--flex-fd-column {
  display: flex;
  flex-direction: column;
}

.d--flex-jc-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.d--flex-jc-flex-end {
  display: flex;
  justify-content: flex-end;
}

.d--flex-ai-center {
  display: flex;
  align-items: center;
}

.border-bottom--1px-solid-ui01 {
  border-bottom: 1px solid $ui-01;
}
